"*":
  "atom-autocomplete-php":
    binPhp: "/usr/local/php5/bin/php"
  "atom-beautify":
    js:
      beautify_on_save: true
    php: {}
  "autocomplete-php": {}
  core:
    disabledPackages: [
      "atom-autocomplete-php"
      "emmet"
      "hyperclick-php"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "pure-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "91c7831e-2b49-433c-8f21-5ba94704f6a6"
  "linter-php":
    executablePath: "/usr/local/php5/bin/php"
  "linter-ui-default":
    panelHeight: 81
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "php-debug":
    currentPanelMode: "bottom"
  "platformio-ide-terminal":
    style:
      theme: "one-dark"
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    showIndentGuide: true
